---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const servers = ['Windows Server', 'Debian', 'Ubuntu', 'AIX', 'Solaris']
const development = ['PHP (Laravel)', 'HTML5', 'CSS3', 'JavaScript', 'Bootstrap', 'Tailwind CSS', 'Livewire', 'Google Apps Script', 'Git', 'GitHub', 'Vue']
const databases = ['MySQL', 'SQL Server']
const cloud = ['Google Workspace', 'Microsoft 365', 'Git', 'GitHub']
const support = ['Hardware', 'Software', 'Acceso remoto (AnyDesk, TeamViewer, RDP)']
const network = ['Adminsitración y configuración básica de Switches CISCO']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <!-- <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      /> -->
      <img src="https://avatars.githubusercontent.com/u/67816118?v=4" alt="profile" class="h-28 w-auto rounded-full border p-1">
    

      <!-- <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>d-rodas</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='El Salvador'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label> -->
          <!-- <Label
            title='Proyectos'
            as='a'
            href='https://github.com/cworld1/astro-theme-pure'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div> -->

      {/* Get template
      <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>Available</p>
      </a>
       */}
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <!-- <p class='text-muted-foreground'>Developer</p> -->
        <p class='text-muted-foreground'>
          I am a web developer specializing in creating robust applications with PHP and the Laravel framework. I am proficient in technologies such as HTML5, CSS3, and JavaScript, and I use modern frameworks such as Bootstrap, Tailwind CSS, and Livewire to build dynamic and efficient interfaces.
        </p>
        <!-- <Button title='Más acerca de mí' class='w-fit self-end' href='/about' style='ahead' /> -->
      </Section>
      <!-- {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }
      -->
      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <!-- <Section title='Educación'>
        <Card
          as='a'
          heading='Universidad Dr. Andrés Bello.'
          subheading='Licenciatura en Computación.'
          date='2015 - 2019.'
          href='#'
        >
          {
            /* <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
        </ul> */
          }
        </Card>
      </Section>
      -->
      <!-- <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section>
      -->

      <!-- <Section title='Cursos'>
        <Card
          as='a'
          heading='Administración de sistemas tipo Unix y Linux: Debian, Ubuntu, Oracle Linux, AIX (IBM) y Solaris (Oracle).'
          subheading='Subheading'
          date='July 2024'
          href='#'
        />
        <Card
          as='a'
          heading='Introduction to Google Workspace Administration.'
          date='July 2024'
          href='https://www.cloudskillsboost.google/public_profiles/bd587103-6c4c-41bf-b72e-bc9b4e65f3fe/badges/8420630'
        />
        <Card
          as='a'
          heading='Managing Google Workspace.'
          date='July 2024'
          href='https://www.cloudskillsboost.google/public_profiles/bd587103-6c4c-41bf-b72e-bc9b4e65f3fe/badges/8428414'
        />
        <Card
          as='a'
          heading='Configure your Microsoft 365 Experience.'
          date='July 2024'
          href='https://learn.microsoft.com/api/achievements/share/en-us/DiegoRodas-8799/AEYTXRJ7?sharingId=613577AD5FC91AA6'
        />
        <Card
          as='a'
          heading='- Administración de Microsoft 365.'
          date='July 2024'
          href='https://www.cloudskillsboost.google/public_profiles/bd587103-6c4c-41bf-b72e-bc9b4e65f3fe/badges/8420630'
        />
        <Card
          as='a'
          heading='Administración de Windows Server y Linux.'
          date='July 2024'
          href='https://drive.google.com/file/d/1Gr20JVr7uuFbK8A01_pNWG6u8mZ_XX4B/view?usp=sharing'
        />
        <Card
          as='a'
          heading='CCNA1 (CCNAv7: Introduction to Networks).'
          date='July 2024'
          href='https://www.credly.com/badges/0836fb4f-5727-41b8-a691-057bb3fa54ca/public_url'
        />
        <Card
          as='a'
          heading='CCNA2 (Fundamentals of Switching, Routing and Wireless Networks).'
          date='July 2024'
          href='https://www.credly.com/badges/d62cc462-6ad4-45e6-af70-494f8a4ea623/public_url'
        />
      </Section>
      -->
      <Section title='Skills'>
        <!-- <SkillLayout title='Administración de sistemas' skills={servers} /> -->
        <SkillLayout title='Development' skills={development} />
        <SkillLayout title='Databases' skills={databases} />
        <!-- <SkillLayout title='Herramientas colaborativas' skills={cloud} /> -->
        <!-- <SkillLayout title='Soporte técnico' skills={support} /> -->
        <!-- <SkillLayout title='Redes comunicaciones' skills={network} /> -->
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
